<!DOCTYPE html>
<html>
    
    {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        {{ content }}

        {% include /footer.html %}

     <script src="js/lightbox.js"></script>    

    <div id="lightbox" class="lightbox">
    <div class="lightbox-content">
        <span class="close-btn" id="closeBtn">&times;</span>
        <img id="lightboxImage" class="lightbox-image" src="" alt="">
        <div class="nav-arrow prev-arrow" id="prevBtn">&#8249;</div>
        <div class="nav-arrow next-arrow" id="nextBtn">&#8250;</div>
    </div>
    </div>    

    </body>

</html>
