<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2 style="color:#000000;">Categorization of Natural Sounds by Neuronal Circuits</h2>
                <a href="http://templated.co"></a>

            </div>
        </section>
        {{ content }}
        {% include /footer.html %}
        <script src="js/lightbox.js"></script>

    </body>

</html>
